
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Great+Vibes&family=Srisakdi&display=swap');


body {
background-color: #e0218a9b;
/* margin: 0px;
font-family: "Emilys Candy", serif;
font-size: medium; */
background-image: url(../assets/barbie/1.gif);
}

/* .fs-3 {
    font-family: "Emilys Candy", serif;
    font-size: 70px;
    font-weight:bold;
    color: #e0218a;
    text-align: center;
    
} */

.text-title, .mb-0 {
  display: none;
}

.navbar-nav {
    color: white;
    
}

.navbar-nav a {
    color: white;
    
}

.container {
    display: grid ;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    text-decoration: none;
    font-family: "Srisakdi", serif;
    font-size: 30px;
    /* text-align: center; */
    /* background-color: #e0218a; */

}


.barbiegif {
    display: flex !important;
    /* border: 1px solid red; */
    max-width: fit-content;
    max-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red !important; */
    /* background-image: url(../assets/barbie/barbie.gif); */
}

.barbiegif img {
    width: 10rem;
    height: auto;
}

.context header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0
}

.context header .text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}


.navbar-toggler {
    display: none;
  
  }
  .nav-item:hover .dropdown-menu {
    display: grid;
  }

  .dropdown-menu a:hover {
    color: black;
    display: grid;
  }

  li a:hover, .nav-item:hover:hover .nav-link {
    color: black;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px; 
    z-index: 1;
  }
  .nav-item:hover .dropdown-menu {
    display: grid;
    flex-direction: column;
    border-radius: 1rem;
    align-items: flex-start;
    margin-left: 0;
    background-color: #e0218a;   
    opacity: 0.8; 
  }

  .navbar-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  
  }


  .person, .place {
    /* font-variant: small-caps; */
    color:sienna;
    font-weight: bold;
}

.person-name {
    font-size: 6px;
}

#bookmark {
    position: fixed;
    bottom: 10px; /* Position from the bottom of the page */
    right: 10px; /* Position from the right of the page */
    padding: 10px 20px; /* Inner spacing for the content */
    background-color: #F3E9D2; /* Background color similar to paper */
    font-family: 'EB Garamond', serif; /* Stylish, readable font */
    color: sienna;
    font-size: 14px; /* Size of the text, large enough to be easily read */
    border: thick double saddlebrown; /* Gives a feeling of an outlined, tangible bookmark */
    z-index: 1; /* Lower than other content, so it doesn't overlap anything */
    cursor: pointer; /* Indicates the element is interactive */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Slight shadow for depth effect */
    text-decoration: none; /* No underline to keep a clean look */

    /* Optional: Adding some rounded corners */
    border-radius: 5px; /* Slightly rounded corners can make it look more like a physical bookmark */
}

/* .col-lg-6 { */
  /* font-size: 20px;
  border: 1px solid #000;
  width: auto;
  height: 500px;
  /* Включаем отображение полос прокрутки по горизонтали
  и по вертикали */
  /* overflow: auto;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px; */
  background-color: white;
  color: #e572b1; */
}

/* .col-lg-6 {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
} */

.text-title, .mb-0 {
  display: none;
}

h2 {
  font-family: "Emilys Candy", serif, bold;
  border-style: none;
  font-size: 50px;
  text-align: center;
  color: #e0218a;
  background-color: white;
  opacity: 0.6;

} 

h3 {
  text-align: center;
  font-size: 40px;
  text-decoration:wavy;
  color: #e0218a;
  font-family: "Emilys Candy", serif;
}

h5 {
  text-align: right;
  font-size: 20px;
  color: #e0218a;

}

h6 {
  text-align: right;
  font-size: 20px;
  color: #e0218a;

} 

p {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-family: 'Srisakdi', serif;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

