@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lovers+Quarrel&family=Monsieur+La+Doulaise&family=UnifrakturCook:wght@700&display=swap');

.navbar {
  text-align: center;
}

.navbar-brand {
  font-family: "Monsieur La Doulaise";
  font-size: 30px;
  text-decoration: none;
  display: inline;
  color: black;

}


.navbar-nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 2rem;
}
  
  
.navbar-toggler {
  display: none;

}

.nav-link {
  color: #783c00;
  text-align: center;
  /* padding: 14px; */
  /* background-image: url(../assets/Olgafont/); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  border-radius: 20%;
  font-size: 30px;
  width: 100%;
  /* justify-content: space-around; */
  /* border: none; */
  /* display: inline; */
  /* align-items: center; */
  cursor: pointer;
  /* position: relative; */

}

li a:hover, .nav-item:hover:hover .nav-link {
  color: black;
}

li.nav-item {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px; 
  z-index: 1;
}


.dropdown-menu a {
  color: black;
  font-size: 30px;
  font-family: "Italianno", serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  
  padding-left: 0 !important;
  margin: 0;

}

.dropdown-menu a:hover {
  color: #783c00;
}


.nav-item:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/Olgafont/letter5.jpeg);
  border-radius: 1rem;
  align-items: flex-start;
  margin-left: 0;
  
}

.nav-item:hover:last-child .dropdown-menu {
  transform: translateX(-10rem);
}


body {
    /* background-color: #faebd7; */
    font-family: "Italianno", serif; 
    font-weight: bold;
    background-image: url(../assets/Olgafont/queen4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
    

.fs-3 {
    font-family: "Monsieur La Doulaise", serif;
    font-size: 70px;
    text-align: center;

}

.context {
    /* background-image: url(../assets/Olgafont/queen4.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    /* background-attachment: fixed; */

    

}

.mb-0 {
    text-align: center;
    font-family: "Italianno", serif;
    font-size: 30px;
}



.col-lg-6 {border: 1px solid black;
    background-color: lightblue;
    background-image: url(../assets/Olgafont/letter1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 30px;
    border: #afa85b solid 5px;
    max-width: 750px;
    margin: auto;
    padding: 100px;
  }


 h2 {
    font-family: "Italianno", serif;
    border-style: none;
    font-size: 50px;
    text-align: center;

}

h3 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;

}

h5 {
    text-align: right;
    font-size: 20px;

}

h6 {
    text-align: right;
    font-size: 20px;

}


img {
    -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
    filter: sepia(100%);
    border: 10px solid #ddd;
    border-color: whitesmoke;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

   
.ticket {
    padding: 15px 20px;
    color: black;
    font-family: "Italianno", serif;
    border: 5px;
    font-size: 20px;
    border: #afa85b solid 5px;
    cursor: pointer;
    text-decoration: none;
    background-image: url(../assets/Olgafont/letter1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ticket:hover {
    opacity: 0.9;
    color: black;
}

.Renaissance-no-display {
  display: none;
}

.person, .place {
  /* font-variant: small-caps; */
  color:sienna;
}

.person-name {
  font-size: 6px;
}

#bookmark {
  position: fixed;
  bottom: 10px; /* Position from the bottom of the page */
  /* padding: 10px 20px; Inner spacing for the content */
  background-color: #F3E9D2; /* Background color similar to paper */
  font-family: 'EB Garamond', serif; /* Stylish, readable font */
  color: sienna;
  font-size: 14px; /* Size of the text, large enough to be easily read */
  border: thick double saddlebrown; 
  z-index: 1; /* Lower than other content, so it doesn't overlap anything */
  cursor: pointer; /* Indicates the element is interactive */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Slight shadow for depth effect */
  text-decoration: none;
  border-radius: 5px; 
  font-size: 1em;
  display: block;
  
}
