@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Italianno&display=swap');

body {
    background-image: url("../assets/img/letter1.jpeg");
    background-color: antiquewhite;
    font-family: "Italianno", serif;
    padding: 30px;
}

h1 {
    font-family: "Charm", serif;
    border-style: none;
    font-size: 40px;
    text-align: center}

 h2 {
    font-family: "Charm", serif;
    border-style: none;
    font-size: 30px;
    text-align: center}

h3 {
    text-align: center
}

p {
    border-style: none;
    border-width: 10px;
    padding: 20px;
    font-size: 24px;
}

.mb-0 {
    text-align: center 
}